<nav id="sidebar">
    <header>
        <h2>Notes</h2>
    </header>
    <ul>
    {{#notes}}
        <li>
            <a href="./{{name}}.html">{{header}}</a>
        </li>
    {{/notes}}
    </ul>
</nav>