dist/
**/.ztr-directory
.obsidian/plugins/Dual/essence.zip
.obsidian/plugins/Dual/main.js
.obsidian/plugins/Dual/main.ts
.obsidian/plugins/Dual/manifest.json
.obsidian/plugins/Dual/package.json
.obsidian/plugins/Dual/view.ts
.obsidian/plugins/Dual/essence/config.json
.obsidian/plugins/Dual/essence/pytorch_model.bin
.obsidian/plugins/Dual/essence/training_args.bin
.obsidian/plugins/Dual/skeleton/cache.pickle
.obsidian/plugins/Dual/skeleton/conversational_wrapper.py
.obsidian/plugins/Dual/skeleton/core.py
.obsidian/plugins/Dual/skeleton/requirements.txt
.obsidian/plugins/Dual/skeleton/server.py
.obsidian/plugins/Dual/skeleton/util.py
.obsidian/plugins/Dual/skeleton/__pycache__/conversational_wrapper.cpython-38.pyc
.obsidian/plugins/Dual/skeleton/__pycache__/conversational_wrapper.cpython-39.pyc
.obsidian/plugins/Dual/skeleton/__pycache__/core.cpython-38.pyc
.obsidian/plugins/Dual/skeleton/__pycache__/core.cpython-39.pyc
.obsidian/plugins/Dual/skeleton/__pycache__/server.cpython-38.pyc
.obsidian/plugins/Dual/skeleton/__pycache__/util.cpython-38.pyc
.obsidian/plugins/Dual/skeleton/__pycache__/util.cpython-39.pyc
